{
    "presets": [
       ["es2015", {"modules": false}],
       "react",
       "stage-0"
    ],
    "env": {
        "development": {
            "plugins": [
                // 开启 React 代码的模块热替换(HMR)
                "react-hot-loader/babel",
                "transform-decorators-legacy"
            ]
        }
    }
}