:global {
    @import "normalize.css/normalize.css";
    html {
        font-family: proxima-nova, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", SimHei, "WenQuanYi Zen Hei", "Apple LiGothic Medium", "ST Heiti", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Sharp", serif;
    }
    div, input {
        box-sizing: border-box;
    }
    body {
        -webkit-font-smoothing: antialiased;
    }
}